.login__container {
  background: var(--bg-darkblue);
  padding: 7rem 0;
}

.login__form,
.forgot_password__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login__control-input {
  margin-bottom: 2rem;
}

.login__form-control {
  margin-bottom: 2rem;
}

.login__form-control .login__control-text {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--font-size18);
  line-height: var(--line-height31);
  font-weight: var(--font-weight400);
  color: var(--color-gray);
  display: block;
}

.login__form-control .login__control-text:hover {
  color: var(--color-yellow);
}

.login__control-button button {
  width: 100%;
  margin-bottom: 2rem;
}

.border-bot {
  text-decoration: underline;
}

.forgot_password__form,
.login__form {
  text-align: center;
}

.forgot_password__form {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.forgot_password__form-sub {
  display: block;
  margin: 2rem 0;
}
