.news_container {
  background-color: #0e1d55;
  padding: 1rem 5rem;
}
.news_container > .list-news {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.list-news > .new-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.new-image > img {
  width: 100%;
}
.list-news > .new-date-user {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #eee;
}

.new-date-user > .date {
  margin-right: 1rem;
}

.new-date-user > .date > span,
.new-date-user > .user > span {
  color: #000;
  font-size: 1.6rem;
}
.list-news > .new-title {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
}
.list-news > .new-content {
  padding: 1rem 1.5rem;
}
.new-content > p {
  color: #111;
  line-height: 3rem;
}
