/* Chia layout như flex hay grid code ở đây đối với những layout dùng lại */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* flex */

.flex{
    display: flex;
}

.flex-jc{
    display: flex;
    justify-content: center;
}

.flex-ac{
    display: flex;
    justify-content: center;
    align-items: center;
}



