 footer .footer__contact {
  background-image: url('../../image/banner\ \(7\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color:var(--color-white);
}

footer .footer__contact{
    position: relative;
    z-index: 1;
}

footer .footer__contact::before {
    background: #000;
}

footer .footer__contact::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}

footer .pd-6{
    padding:6.2rem;
}

footer .footer__contact .flex{
    display: flex;
    justify-content: space-between;
}

footer .footer__contact .container h4{
    color: var(--color-white);
    font-family: var(--font-playfair);
    font-size: 2rem;
    display: block;
    padding-bottom:4rem ;
}

footer .footer__contact .container li ~ li{
    margin-top: 2rem;
}

footer .footer__contact .container a,i,p{
    font-size: 1.8rem;
    color: #AAAAAA;    
}

footer .footer__contact .container a:hover{
    color: var(--color-yellow);
}

footer .footer__contact .container .contact-us i{
    margin-right: 0.9rem;
}
footer .footer__contact .contact-us p+p{
    margin-top: 1rem;
}

.mt-1{
    margin-top: 1rem;
}

/* start footer__connection */

footer .footer__connection{
    background-color:var(--bg-darkblue);
    display: grid;
    grid-template-columns: 50% 50%;
    
}

footer .footer__connection .connection__left{
    border-right:0.1px solid rgb(92, 91, 91,0.4);    
}

footer .footer__connection .wrapper{
    padding: 6rem 0;    
}

footer .footer__connection .connection__left h4{
    color: var(--color-white);
    font-family: var(--font-playfair);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2.5rem;
   
}

footer .connection__left .icons ul{
    display:flex;  
    justify-content: center; 
}

footer .connection__left .icons ul li span{
    font-size:1.8rem;
    color:#AAAAAA;
   
}

footer .connection__left .icons ul li span:hover{
    color:var(--color-yellow);
}

footer .connection__left .icons ul li+li {
  margin-left: 2.5rem;
}

footer .footer__connection .connection__right h4{
    color: var(--color-white);
    font-family: var(--font-playfair);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.3rem;
}

footer .footer__connection .connection__right .download_app ul{
    display: flex;
    justify-content: center;    
}

footer .footer__connection .connection__right .download_app ul li+li{
    margin-left: 2.5rem;
} 

/* Start footer__copyright */
footer .footer__copyright{
     background-color: #0E1D55;
     padding: 2.5rem 0;
}

.flex-sb{
    display: flex;
    justify-content:space-between;
}

footer .footer__copyright p,a{
    color: var(--color-white);
}

footer .footer__copyright a:hover{
     color: var(--color-yellow);
}

footer .footer__copyright .payment_section ul{
    display: flex;
}

footer .footer__copyright .payment_section ul li{
    margin-left:1.2rem;
}

footer .footer__copyright .payment_section ul li{
   opacity:0.7;
}
footer .footer__copyright .payment_section li:hover{
   opacity:1;
}


 




